body {
	color: #333;
	background-image: url('../img/rod-long-zacVDX85Lfo-unsplash_1920px.jpg');
	background-size: cover;
	font:
		100% Arial,
		sans-serif;
	padding: 5rem;
}
main {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5rem;
	font-size: x-large;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	text-align: center;
}
footer {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5rem;
	padding-bottom: 2.5rem;
	font-size: smaller;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	text-align: right;
}
a {
	color: #0033cc;
}
