
.cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -4rem;
}

.cards > .card {
    margin: 0 1.5rem 2rem;
    padding: 2rem;
    width: auto;
    background-color: var(--LightOrange);
    display: flex;
    flex-wrap: wrap;
    row-gap: .5rem;
    font-size: small;
}


.cards > .card:last-child {
    margin-bottom: 0;
}


.card > header {
    text-align: center;
}

.card > ul {
    list-style-type: none;
}

.card > .card__content {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.card__content p {
    margin-bottom: .5rem;
}
.card > button {
    margin-top: 2rem;
}

@media only screen and (min-width: 576px) {

    .cards{
        margin-top: -6rem;
        margin-bottom: -2rem;
    }

}

@media only screen and (min-width: 768px) {

    .cards > .card {
        width: 16rem;
    }
}

@media only screen and (min-width: 992px) {
    .cards > .card, .cards > .card:last-child {
        width: 13rem;
        margin-bottom: 0;
    }

}

/*10:1  ✖  Descendant classes should always be prefixed. `.cards > .card`                selector-disallowed-list*/
/*13:5  ✖  Only graphical elements should be given dimensions. `.cards > .card & width`  rule-selector-property-disallowed-list*/
