.hero {
    background-color: var(--DarkGreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.hero > .hero-content {
    border-left: var(--Orange) solid 6px;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hero-content > header > h1 {
    max-width: 45ch;
    text-wrap: balance;
    color: var(--Orange);
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    line-height: normal;
}

.hero-content > p {
    text-wrap: balance;
    color: white;
    font-weight: bold;
    line-height: normal;
    font-size: larger;
}
