.menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.menu > .brand-logo {
    width: 16rem;
    margin-bottom: 2rem;
    max-height: 6em;
    aspect-ratio: 1;
}

.menu > .items {
    margin-top: 1.5rem;
    padding: 0 3rem;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.menu > .items > a {
    flex-grow: 1;
    text-align: center;
    padding: 1em 2em;
    color: #156968;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
}
