/* Les noms des classes ne sont pas définitifs */
.vert-fonce {
    color: #0e635d;
}

.vert-clair {
    color: #B0D2BC;
}

.orange-fonce {
    color: #D47430;
}

.orange-pastel {
    color: #FDF6ED;
}

.orange-clair {

    color: #E6AC2A;
}

.rose {

    color: #E7BAC3;
}
