.cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.cards > .card {
    margin: -2rem 1.5rem;
    padding: 2rem;
    width: 12rem;
    background-color: #FDF6ED;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*10:1  ✖  Descendant classes should always be prefixed. `.cards > .card`                selector-disallowed-list*/
/*13:5  ✖  Only graphical elements should be given dimensions. `.cards > .card & width`  rule-selector-property-disallowed-list*/
