/* Main navigation menu */
/* Markup example :
nav.menu
    a.brand-logo
        img
    div.items
        a
        a
        a
 */

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0;
    padding: 0 .5rem;
    margin-bottom: .5rem;
    justify-content: center;
    align-items: center;
}


.menu > .brand-logo {
    width: 16rem;
    margin-bottom: 1rem;
    max-height: 6em;
}

.menu > .items {
    margin-top: .5rem;
    display: flex;
    gap: .125rem;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu > .items > a {
    display: block;
    width: 100%;
    color: var(--DarkGreen);
    font-weight: bold;
    font-size: 1.125rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: .25rem;
}

@media only screen and (min-width: 576px) {

    .menu
    {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menu > .brand-logo {
        width: 14rem;
        margin-bottom: 1rem;
        max-height: 7rem;
    }

    .menu > .items {
        gap: .25rem;
    }

    .menu > .items > a {
        width: auto;
    }
}

@media only screen and (min-width: 768px) {


    .menu > .brand-logo {
        width: 11rem;
        margin-bottom: 1rem;
        height: 5em;
    }

    .menu > .items {
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        flex-direction: row;
    }

    .menu > .items > a {
        margin: 0;
    }
}
