/* Main navigation menu */
/* Markup example :
nav.menu
    a.brand-logo
        img
    div.items
        a
        a
        a
 */
.menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0 .5rem;
    margin-bottom: .5rem;
}

.menu > .brand-logo {
    width: 16rem;
    margin-bottom: 0;
    height: 6em;
    aspect-ratio: 1;
    flex-grow: 1;
}

.menu > .items {
    margin-top: 3rem;
    display: flex;
    flex-grow: 1;
    align-items: baseline;
    flex-direction: column;
}

.menu > .items > a {
    margin: .25rem;
    flex-grow: 1;
    text-align: center;
    color: var(--DarkGreen);
    font-weight: bold;
    font-size: 1.125rem;
    text-decoration: none;
    text-transform: uppercase;
}


@media only screen and (min-width: 768px) {
    .menu {
    }

    .menu > .brand-logo {
        width: 11rem;
        margin-bottom: 1rem;
        height: 5em;
        aspect-ratio: 1;
        flex-grow: unset;
    }

    .menu > .items {
        margin-top: 2rem;
        align-items: center;
        flex-direction: row;
    }

    .menu > .items > a {
        margin: 0;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    .menu > .items > a {

    }
}
